.App{
    overflow-y: hidden;
}

main {
    margin-bottom: 50px;
}

.nav-profile-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 50px;
}

.logout {
    color: #062439;
    transition: .5s ease;
    cursor: pointer;
}

.logoutBox .logout:hover {
    background-color: #06243936;
    padding: 4px;
    border-radius: 50%;
    color: #ff4747;
}


.btn-trocarAcc {
    background-color: #143F6A;
    border: none;
    color: #FFF;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px 15px;
    transition: .5s;      
    margin-right: 45px; 
}

.btn-trocarAcc:hover {
    background-color: #5da8ae;
}

                          /*   FIM DA NAVBAR */


.mainContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
    width: 100vw;
}




.perfil-container {
    width: 23%;
    min-width:270px;
    height: 400px;
    background-color: aliceblue;
    border: 1px solid rgb(185, 185, 185);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}



.foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000081;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

.imagemUser img {
    z-index: 9;
    width: 250px;
    height: 350px;
    border-radius: 50%;
}

.imagemUser {
    display: flex;
    align-items: center;
    width: 250px;
    height: 350px;
}
.addFotoLabel {
    color: #aab0b6;
    cursor: pointer;
    overflow-y: hidden;
    display: none;
}


.foto-container:hover > .imagemUser{
    display: none;
    z-index: -1;
}
.foto-container:hover > .addFotoLabel{
    display: flex;
  
}


.edit-icon {
    margin-left: 85%;
    margin-top: 5px;
}


.enviarBtnBox {
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}

.enviarBtn {
    border: none;
    background-color: #062439;
    padding: 4px 24px;
    width: 80%;
    letter-spacing: 2px;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    transition: .5s ease;

}

.enviarBtn:hover {
    background-color: #5da8ae ;
}

.delete-icon,
.editService {
    color: #6A6A6A;
    margin-left: 5px;
    cursor: pointer;
    transition: .4s;
}

.editService:hover {
    color: #000000;
}

.trampo-container{
display: flex;
flex-direction: column;
}
.nav-trampos{
display: flex;
width: 700px; 
height: 65px;
align-items: center;
justify-content: space-around;
background-color: #FFF;
border: 1px solid #6a6a6a;
margin-top: 30px;
overflow-y: hidden;

}
.nav-trampos button{ 
 font-weight: bold;
 color: #6a6a6a;
 background-color: #FFF;
 border: none;
 cursor: pointer;
 transition: .4s;
}
.trampo-option{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
position: relative;

}
.trampo-option button::after{
    content: " ";
    width: 0%;
    height: 5px;
    background-color: #5da8ae;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px 0px 5px 0px;
    transition: .5s ease-in-out;
}
.trampo-option.active button::after{
    content: " ";
    width: 100%;
    height: 5px;
    background-color: #5da8ae;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px 0px 5px 0px;
    transition: .5s ease-in-out;
}
/* .trampo-option.active{
border-bottom: 4px solid #062439;
transition: .5s ease
} */

/* .trampo-option p:hover::after{
width: 100%;
} */
.trampoInput{
display: none;
}
.cards-box{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 30px;
border: 1px solid #6a6a6a;
width: 250px;
height: 300px;
background-color: #FFF;
}
.cards-box p{
 font-weight: bold;
 color: #6a6a6a;
}
.addTrampo-icon{
color: #062439;
font-size: 120px;
transition: .5s;
cursor: pointer;
}
.addTrampo-icon:hover{
color: #5da8ae;
}








@media(max-width:750px){
    .nav-trampos{
        width: 400px;
    }
    .cards-box{
        width: 150px;
        height: 200px; 
    }
    .addTrampo-icon{
        font-size: 70px;
    }

}
@media(max-width:750px){
    .nav-trampos{
        width: 350px;
        text-align: center;
    }

}