footer{
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.socialIcons,
.menu{
position: relative;
display: flex;
top: 20px;
justify-content: center;
align-items: center;
margin: 0px 0;
flex-wrap: wrap;
height: 50px;
z-index: 2;
}
.socialIcons li,
.menu li{
list-style: none;
}
.socialIcons li{
margin: 0 10px;
display: inline-block;
transform: 0.5s;
z-index: 2;

}
.socialIcons li:hover{
transform: translateY(-10px);
}
.menuLi{
 font-size: 1.2rem;
 color: #FFF;
 margin: 0 10px;
 display: inline-block;
 transform: 0.5s;
 text-decoration: none;
 opacity: 0.7;
 
}
.menuLi:hover{
    opacity: 1;
    color: #FFF;
}

footer p{
    color: #FFF;
    text-align: center;
    z-index: 99999;

}
 a{
    color: #fff;
}
.wave{
position: relative;
top: 143px;
height: 100%;
z-index: 1;
}
#MaskWave{
background: linear-gradient(45deg, #E6F4F1, #99E0FF, #1277B0, #FF4A24);
z-index: 99;
}