.container-desktop{
display: none;
align-items: center;
justify-content: space-evenly;
height: 600px;
background-color: rgb(40, 124, 39);
}
.d-block{
margin-bottom: 200px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
  background-color: #00000073;
  padding: 15px;
  border-radius: 50%;
  text-align: center;

}
.carousel-control-next,
 .carousel-control-prev{
  z-index: 0;
}
.buttonCarousel{
border: none;
outline: none;
background-color:rgb(253, 177, 57);
padding: 8px 30px;
border-radius: 5px;
color: #FFF;
font-weight: bold;
transition: .4s ease;
}
.buttonCarousel:hover{
background-color: #F55253 ;
}
.carousel{
width: 40%;
}
.fvp-text{
text-align: center;
animation: textAnimation 1.5s ease;
}
@keyframes textAnimation{
0%{
  position: relative;
  bottom: 400px;
  opacity: 0;
}


100%{
  bottom: 0px;
}

}
.text-1-desktop, .text-2-desktop{
font-size: 50px;
color: aliceblue;
font-family: 'Roboto', sans-serif;
height: 100%;
padding: 10px;
}

.seuServico{
font-family: 'Dancing Script', cursive;
font-size: 70px;
line-height: 0;
color: rgb(253, 177, 57);
}
  
.fazer{
font-family: 'Dancing Script', cursive;
font-size: 70px;
color: rgb(253, 177, 57);
}









                              /* MEDIAS QUERIES    */                          

  @media(min-width:1000px){
    .ul-li-box ul {
    display: flex;
    }
    .search-box{
    display: flex;
    }
    .menu-box{
    display: none;
    }
    .container-desktop{
    display: flex;
    }
    .first-viewport-mobile{
    display: none;
    }
    }  
